<div class="item<%= " active" if product == Product.first %>">
	<h3><%= product.name %></h3>
  <%= link_to image_tag(product.image_url.to_s, class: "featured-image"), product %>
	<div class="featured-info">
		<h4>Reviews:</h4>
		<p>Here's what some nice people had to say about it:</p>

		<div class="reviews">
			<% product.reviews.each	do |review| %>
				<p class="review">"<%= review.review %>"</p>
				<p class="review-user">- <%= User.find(review.user_id).name %></p>
			<% end %>
		</div>
		

		<%= link_to 'Check it Out!', @featured_product, :class => "featured-button btn btn-primary"%>
	</div> <!-- END featured-info -->
</div> <!-- END item -->