<h1>Q<span>u</span>e<span>s</span>t<span>i</span>o<span>n</span>s<span>?</span><%= image_tag("bee_logo.png") %></h1>
<p>Send us a message and we'll get back to you as soon as we can.</p>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<%= label_tag :name %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "required" %>
			</div>
			<div class="form-group">
				<%= label_tag :email, "Email Address" %>
				<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", pattern: "[^@\s]+@[^@\s]+\.[^@\s]+", oninvalid: "setCustomValidity('Please enter a valid email address')", required: "required" %>
			</div>
			<div class="form-group">
				<%= label_tag :message %>
				<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", required: "required" %>
			</div>
		</div>
	</div>
	<%= submit_tag "Send" %>
	<% end %>