<% cache @product do %>
<h2 class="product-name">
  <strong><%= @product.name %></strong> 
</h2>
	
<%= image_tag(@product.image_url.to_s, class: "img-responsive product-image img-zoom", data_zoom_image: "#{image_path(@product.image_url.to_s)}") %>

<div class="product-info">	
	<p class="product-description">
	  <%= @product.description %>
	</p>

	<% if @product.price != nil %>
		<p class="product-price">
			Price: $<%= @product.price %>
		</p>
	<% end %>
<% end %>

	<p>Average Rating:
	<div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
	</p>

	<%= form_tag "/payments/create" do %>
  	<%= render partial: "shared/stripe_checkout_button" %>
	<% end %>
	<p>Views: <%= @product.views %></p>
</div>

<div class="new-review">
	<%= render partial: "new_comment", comment: @comment %>
</div>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render partial: "comments", comment: @comment %>

<p class="product-options">
	<%= link_to 'Edit', edit_product_path(@product) %>|
	<%= link_to 'Back', :back %>
</p>


