<!DOCTYPE html>
<html>
  <head>
    <title>The Bee</title>
    
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav>
      <%= link_to image_tag("bee_nav_logo.png"), '../static_pages/index', :id => "logo" %>
  		<ul>
  			<li><%= link_to "Home", '../static_pages/index' %></li>
  			<li><%= link_to "About", '../static_pages/about' %></li>
  			<li><%= link_to "Contact", '../static_pages/contact' %></li>
  		</ul>
  	</nav>
    
    <div class="container">
      <%= yield %>
    </div>
    

    <footer>
      <div  id="copyright">
        <p>&copy; Jake Hill 2017</p>
      </div>
<<<<<<< HEAD
=======
      
>>>>>>> 555e613ad5565637e548e41d91ca67c9d4a3bbfe
    </footer>
  </body>
</html>
